main {
    padding: 5% 10%;
}

.page-inscription {
    height: 100%;
    border: 3px solid #6B2338;
    border-radius: 20px;
    padding: 2%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}

.titre-inscription {
    margin-bottom: 2%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.formulaire-inscription {
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    overflow-y: auto;
}

.label-inscription {
    font-size: 18px;
}

.input-inscription {
    border: 1.5px solid #6B2338;
    border-radius: 12px;
    background-color: transparent;
    padding: 1%;
    font: inherit;
    color: inherit;
}

textarea.input-inscription {
    min-height: 80px;
    resize: vertical;
}

.aide-mot-de-passe {
    font-size: 10px;
    color: black;
}

.valider-inscription {
    align-items: center;
    justify-self: end;
    width: 120px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #6B2338;
    color: #F3E7D8;
    font-size: 16px;
}